{% extends 'generic/object.html' %}
{% load helpers %}
{% load bootstrap5 %}
{% load render_table from django_tables2 %}
{% block head %}
{% endblock %}
{% block subtitle %}
<div class="object-subtitle"></div>
{% endblock %}
{% block controls %}
{%if read_only %}
<div class="controls"></div>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}
{% block content %}
  <div class="row mb-3">
    <div class="col-auto">
    <form role="form" class="row" method="get">
      {% bootstrap_form filterset_form layout="inline" %}
      <div class="col-auto">{% buttons submit=search_button_name|default:"Search" %}{% endbuttons %}</div>
      <div class="col-auto">
        {% block extra_button %}{% endblock %}
      </div>
    </form>
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title mb-2">{% block table_title %}{% endblock %}</h5>
    <div class="table-responsive">
      {% render_table table 'inc/table.html' %}
    </div>
    {%include 'inc/paginator.html' with paginator=table.paginator page=table.page%}
  </div>
  {% endblock %}
