{% extends 'generic/object.html' %}
{% load helpers %}
{% load validity %}
{% block content %}
  <div class="row mb-3">
    <div class="col col-md-5">
      <div class="card">
        <h5 class="card-header">Command</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Label</th>
              <td>{{ object.label }}</td>
            </tr>
            <tr>
              <th scope="row">Retrieves Configuration</th>
              <td>{{ object.retrieves_config | checkmark }}</td>
            </tr>
            <tr>
              <th scope="row">Type</th>
              <td>{{ object | colored_choice:"type" }}</td>
            </tr>
            <tr>
            <tr>
              <th scope="row">Serializer</th>
              <td>{{ object.serializer | linkify | placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Pollers</th>
              <td>{{ object.pollers.all | linkify_list }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/tags.html' %}
    </div>
    <div class="col col-md-7">
      {% include 'validity/inc/parameters.html' with title='Parameters' parameters=object.parameters form=object.subform_cls only %}
    </div>
  </div>
{% endblock content %}
