{% extends 'generic/object.html' %}
{% load validity %}
{% load bootstrap5 %}
{% load buttons %}
{% load perms %}
{% load render_table from django_tables2 %}
{% block controls %}
<div class="controls">
{% if request.user|can_delete:object %}
  {% delete_button object %}
{% endif %}
</div>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col col-md-8">
      <div class="card mb-2">
        <h5 class="card-header">Compliance Report</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">ID</th>
              <td>{{ object.id }}</td>
            </tr>
            <tr>
              <th scope="row">Created</th>
              <td>{{ object.created | date:"Y-m-d G:i:s" }}</td>
            </tr>
            <tr>
              <th scope="row">Devices involved</th>
              <td>{{ object.device_count }}</td>
            </tr>
            <tr>
              <th scope="row">Unique Tests involved</th>
              <td>{{ object.test_count }}</td>
            </tr>
            {% report_stats_row object "Overall Results" "total" %}
            {% report_stats_row object "LOW Severity Results" "low" %}
            {% report_stats_row object "MIDDLE Severity Results" "middle" %}
            {% report_stats_row object "HIGH Severity Results" "high" %}
          </table>
        </div>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="card">
        <h5 class="card-header">Group Results By</h5>
        <div class="card-body">
          <form role="form" class="row" method="get">
            {% bootstrap_form groupby_form layout="inline" %}
            <div class="col-auto">{% buttons submit="Apply" %}{% endbuttons %}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">Statistics grouped by {{ groupby_label }}</h5>
        <div class="card-body">
          {% if groupby_table %}
          <div class="table-responsive">{% render_table groupby_table %}</div>
          {%include 'inc/paginator.html' with paginator=groupby_table.paginator page=groupby_table.page%}
          {% else %}
          <i>Choose a field to group by to display statistics</i>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
