{% extends 'generic/object.html' %}
{% load helpers %}
{% load validity %}
{% block head %}
{% endblock %}
{% block title %}{{ object }}: Serialized Configuration{% endblock %}
{% block subtitle %}
<div class="object-subtitle"></div>
{% endblock %}
{% block content %}
<div class="row mb-2">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-2">Metainfo</h5>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Git Repository</th>
            <td>{{ object.repo | linkify | placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">Device Config File</th>
            <td>
              {% include "validity/inc/path_with_link.html" with file_path=object|device_path web_url=object.repo.rendered_web_url only %}
            </td>
          </tr>
          <tr>
            <th scope="row">Serializer</th>
            <td>{{ object.serializer | linkify | placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">Local copy last modified</th>
            <td>{{ config.last_modified | date:"Y-m-d G:i:s" | placeholder}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row mb-2">
  {% if not error %}
  <div class="card">
    <div class="card-header">
      <div class="row">
        <h5 class="col">Serialized Configuration</h5>
        <div class="col">{% include 'extras/inc/configcontext_format.html' %}</div>
      </div>
    </div>
    <div class="card-body">
      {% include 'extras/inc/configcontext_data.html' with data=config.serialized format=format %}
    </div>
  </div>
  {% else %}
  <div class="card bg-warning mt-3">
    <div class="card-body">
      <h6 class="card-title">{{ error }}</h6>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
