{% extends 'generic/object.html' %}
{% load validity %}
{% load render_table from django_tables2 %}
{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Git Repository</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Default</th>
              <td>{{ object.default | checkmark }}</td>
            </tr>
            <tr>
              <th scope="row">Repository URL</th>
              <td>{{ object.repo_url }}</td>
            </tr>
            <tr>
              <th scope="row">Default Device Path</th>
              <td><code>{{ object.default_device_path }}</code></td>
            </tr>
            <tr>
              <th scope="row">Username</th>
              <td>{{ object.username | placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Password</th>
              <td>{% if object.encrypted_password %}$encrypted{% else %}{{ '' | placeholder }}{% endif %}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">Bound Devices</h5>
        <div class="card-body">
          <div class="table-responsive">
            {% render_table device_table %}
          </div>
          {%include 'inc/paginator.html' with paginator=device_table.paginator page=device_table.page%}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
