{% extends 'generic/object.html' %}
{% load validity %}
{% load render_table from django_tables2 %}

{% block extra_controls %}
<form action="{% url 'extras:script' module='validity_git' name='SyncGitRepos' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="repos" value="{{ object.pk }}">
  <button class="btn btn-sm btn-primary" type="submit">⟳ Sync</button>
</form>
{% endblock %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Git Repository</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Head Hash</th>
              <td>{{ object.head_hash | placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Default</th>
              <td>{{ object.default | checkmark }}</td>
            </tr>
            <tr>
              <th scope="row">Device Config Path</th>
              <td><code>{{ object.device_config_path }}</code></td>
            </tr>
            <tr>
              <th scope="row">Git URL</th>
              <td><code>{{ object.git_url }}</code></td>
            </tr>
            <tr>
              <th scope="row">Web URL</th>
              <td><code>{{ object.web_url | placeholder }}</code></td>
            </tr>
            <tr>
              <th scope="row">Username</th>
              <td>{{ object.username | placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Password</th>
              <td>{% if object.encrypted_password %}$encrypted{% else %}{{ '' | placeholder }}{% endif %}</td>
            </tr>
            <tr>
              <th scope="row">Branch</th>
              <td>{{ object.branch | placeholder }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">Bound Devices</h5>
        <div class="card-body">
          <div class="table-responsive">
            {% render_table device_table %}
          </div>
          {%include 'inc/paginator.html' with paginator=device_table.paginator page=device_table.page%}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
