{% extends 'generic/object.html' %}
{% load validity %}
{% load helpers %}
{% load render_table from django_tables2 %}
{% block content %}
  <div class="row">
    <div class="col col-md-4">
      <div class="card mb-3">
        <h5 class="card-header">Compliance Test</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description | placeholder}}</td>
            </tr>
            <tr>
              <th scope="row">Global</th>
              <td>{{ global | checkmark }}</td>
            </tr>
            {% include "validity/inc/git_link.html" %}
            <tr>
              <th scope="row">Bound Tests</th>
              <td>{{ object.tests.all | linkify_list }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/tags.html' %}
    </div>
    <div class="col col-md-8">
      <div class="card mb-3">
        <h5 class="card-header">Definitions [source: {{ object | data_source }}]</h5>
        <div class="card-body">
          <pre>{{ object.effective_definitions }}</pre>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
