{% extends 'generic/object.html' %}
{% load validity %}
{% load helpers %}

{% block head %}
  {{ block.super }}
  {% include "validity/inc/prism.html" with header=True only %}
{% endblock head %}

{% block content %}
  <div class="row">
    <div class="col col-md-4">
      <div class="card mb-3">
        <h5 class="card-header">Compliance Test</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description | placeholder}}</td>
            </tr>
            <tr>
              <th scope="row">Global</th>
              <td>{{ global | checkmark }}</td>
            </tr>
            {% include "validity/inc/datasource_link.html" %}
            <tr>
              <th scope="row">Bound Tests</th>
              <td>{{ object.tests.all | linkify_list }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/tags.html' %}
    </div>
    <div class="col col-md-8">
      <div class="card mb-3">
        <h5 class="card-header">Definitions [source: {{ object | data_source }}]</h5>
        <div class="card-body">
          <pre><code class="language-python">{{ object.effective_definitions }}</code></pre>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
{% include "validity/inc/prism.html" %}
{% endblock %}
