{% extends 'generic/object.html' %}
{% load validity %}
{% load render_table from django_tables2 %}
{% block content %}
  <div class="row mb-3">
    <div class="col col-md-4">
      <div class="row mb-3">
        <div class="card">
          <h5 class="card-header">Serializer</h5>
          <div class="card-body">
            <table class="table table-hover attr-table">
              <tr>
                <th scope="row">Name</th>
                <td>{{ object.name }}</td>
              </tr>
              <tr>
                <th scope="row">Extraction Method</th>
                <td>{{ object | colored_choice:"extraction_method" }}</td>
              </tr>
              {% include "validity/inc/datasource_link.html" %}
            </table>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        {% include 'validity/inc/parameters.html' with title='Parameters' parameters=object.parameters form=object.subform_cls only %}
      </div>
      <div class="row mb-3">
        {% include 'inc/panels/related_objects.html' %}
      </div>
      <div class="row">
        {% include 'inc/panels/tags.html' %}
      </div>
    </div>
    <div class="col col-md-8">
      <div class="card">
        <h5 class="card-header">Template [Source: {{ object | data_source }}]</h5>
        <div class="card-body">
          {% include 'extras/inc/configcontext_data.html' with data=object.effective_template %}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">All Bound Devices</h5>
        <div class="card-body">
          <div class="pt-0 mb-3 col col-md-3">
            {% include 'validity/inc/search_form.html' with model='Device' %}
          </div>
          <div class="table-responsive">
            {% render_table table 'inc/table.html' %}
          </div>
          {%include 'inc/paginator.html' with paginator=table.paginator page=table.page%}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
