name: CI
on:
  push:
    branches: ["**"]
    tags-ignore: ["**"]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install dependecies
        run: pip install -r requirements/dev.txt
      - name: Run black
        run: black --check --diff --color validity/
      - name: Run isort
        run: isort --check --diff --color validity/
      - name: Run flake8
        run: flake8 validity/

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Define .env
        run: cp development/.env.example development/.env 

      - name: docker version
        run: docker version && docker compose version

      - name: Build netbox
        run: cd development && docker compose build

      - name: Check missed migrations
        run: cd development && docker compose run netbox sh -c "./manage.py makemigrations --check --dry-run"

      - name: Run Tests
        id: run_tests
        run: >-
          set -o pipefail
          && cd development
          && docker compose run netbox sh -c "cd /plugin/validity && pytest --cov"
          | tee /dev/stderr | grep -oP '(?<=Total coverage:\s)[0-9.]+'
          | awk '{print "cov="$1}' > $GITHUB_OUTPUT

      - name: Create Coverage Badge
        if: github.ref == 'refs/heads/master'
        uses: schneegans/dynamic-badges-action@v1.6.0
        with:
          auth: ${{ secrets.GIST_TOKEN }}
          gistID: 9e518ae8babd18b7edd8ee5aad58146b
          filename: cov.json
          label: Coverage
          message: ${{ fromJSON(steps.run_tests.outputs.cov) }}%
          valColorRange: ${{ fromJSON(steps.run_tests.outputs.cov) }}
          maxColorRange: 90
          minColorRange: 50
